# MongoDB Connection Configuration (MongoDB Atlas or Local)
MONGO_URI=mongodb+srv://pilot:SutraChain123@cluster0.6ekn4ud.mongodb.net/?appName=Cluster0
MONGO_DB_NAME=sutrachain_db

# Neo4j Connection Configuration (Neo4j Aura or Local Bolt)
NEO4J_URI=neo4j+s://10544f22.databases.neo4j.io
NEO4J_USER=10544f22
NEO4J_PASSWORD=_M1bfrEZjclDFl51zqCx1_0F6CTZMojkmte6CDobAYg

# API Server Configuration
PORT=8000
